body{
    background-image: grey;
}
.grad{
    background-image: linear-gradient(black,blue);
}
.font{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.picture{
    position: absolute;
    top: 300px;
    left: 17px;
}